<% provide(:title, "Archive") %>
<h1>Archive</h1>
<div class="container">
	<div class="tv-list col-md-4">
		<div class="tv">
			<div class="tv-copy thumbnail">
				<h3>5-5-16</h3>
					<p>First service addressing forgiveness.</p>
			</div>
				<%= image_tag("testpattern.jpg") %>
		</div>
	</div>
	<div class="tv-list col-md-4">
		<div class="tv">
			<div class="tv-copy thumbnail">
				<h3>6-5-16</h3>
					<p>Second service addressing doubt.</p>
			</div>
				<%= image_tag("testpattern.jpg") %>
		</div>
	</div>
	<div class="tv-list col-md-4">
		<div class="tv">
			<div class="tv-copy thumbnail">
				<h3>7-5-16</h3>
					<p>Third service addressing God's love.</p>
			</div>
				<%= image_tag("testpattern.jpg") %>
		</div>
	</div>
</div>
