<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <section class="col-md-6" id="vid">
      <iframe src="https://player.vimeo.com/video/75289164" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </section>
</div>

<div class="col-md-4 fixed-right" id="comments">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h4>Microposts (<%= @user.microposts.count %>)</h4>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
</div>
