@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html, body {
  padding-top: 60px;
  background-color: #e6ffe6 !important;
}

.navbar {
  background: #e6ffe6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: #e6ffe6;
  h1 {
    margin-bottom: 60px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #006600;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  background: #e6ffe6;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #006600;
  background: #e6ffe6;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  background: #e6ffe6;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #006600;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #00cc00;
    text-decoration: none;
  }
}

#top-menu {
  a {
    font-size: 1.5em;
    color: #006600;
    &:hover {
      color: #00cc00;
    }
  }
}

#login {
  float: right;
  font-size: 1.5em;
  vertical-align: center;
  padding: 9px;
  a {
    color: #006600;
    &:hover {
      color: #00cc00;
      text-decoration: none;
    }
  }
}


/* footer */

footer {
  position: fixed;
  bottom: 0px;
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #006600;
  background-color: #b3ffb3;
  width: 100%;
  a {
    color: #006600;
    &:hover {
      color: $gray-darker;
    }
  }
  .container {
      background: #b3ffb3;
      display: block;
  }
  ul {
    list-style: none;
    padding: 9px;
    li {
      float: right;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#vid {
  display: inline;
  float: right;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  width: 250px;
  float: right;
  border-left: 1px black;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

#comments {
    position: fixed;
    right: 10 px;
  }

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.jumbotron {
  height: 400px;
  background-color: #b3ffb3;
  border-radius: 10px;
}

.container {
    background: #b3ffb3;
}

.tv-list {
  display: inline;
  overflow: hidden;
}

.tv {
  padding: 25px;
  border-radius: 5px;
  width: 266px;
}

.tv-copy {
  width: 266px;
	padding:10px;
	background:7f7f7f;
	background: rgba(0,0,0,0.5);
}

.container-fluid .jumbotron {
    background-color: #99ffbb;
}

container-fluid {
    background-color: #99ffbb;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#carousel-example-generic {
    background-color: #99ffbb;
    border-radius: 25px;
}

.glyphicon{
    width: 15px;
}
